##############################################
# DOTNET / C# BUILD ARTIFACTS
##############################################
bin/
obj/
out/
*.exe
*.dll
*.pdb

##############################################
# IDE & EDITOR SETTINGS
##############################################

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
shelf/
workspace.xml

# VS Code
.vscode/

##############################################
# ENVIRONMENT / CONFIG FILES
##############################################
appsettings.json

# Ignore all environment config files everywhere
**/appsettings.Development.json
**/appsettings.Local.json
**/*.Development.json
**/*.Local.json
**/*.env
**/*.secret
**/*.key
**/*.pem

# Local-only env files
.env
.env*.local

# Ignore all config folders globally
**/config/
config/

##############################################
# LOGS
##############################################
*.log
logs/

##############################################
# DATABASE / DOCKER ARTIFACTS
##############################################
*.db
docker-compose.override.yml
docker-compose.*

##############################################
# EF CORE
##############################################
Migrations/

##############################################
# NODE / JS / TS
##############################################
node_modules/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo

##############################################
# FLUTTER
##############################################
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

##############################################
# REACT NATIVE
##############################################
.expo/
*.keystore
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*

##############################################
# EXPO
##############################################
web-build/
expo-env.d.ts
.metro-health-check*

##############################################
# NATIVE MOBILE
##############################################
.kotlin/

##############################################
# COVERAGE / TEST OUTPUT
##############################################
coverage/
TestResults/
.fake

##############################################
# OS ARTIFACTS
##############################################
# macOS
.DS_Store

# temp 
temp.*

src/rerun.sh